<br />
<label for="user-url">Paste your URL:</label><br />
<span id="example-url">(e.g. http://www.webtile.org)</span>
<input type="url" id="user-url" style="width: 100%; height: 28px;"/>
<br />
<br />
<p>Select category:</p>
<a id="blog" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/blog.png');" ></div>
    <div class="caption">Blog</div>
</a>
<a id="cart" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/cart.png');" ></div>
    <div class="caption">eShop</div>
</a>
<a id="img" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/img.png');" ></div>
    <div class="caption">Picture</div>
</a>
<a id="info" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/info.png');" ></div>
    <div class="caption">Info</div>
</a>
<a id="web" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/web.png');" ></div>
    <div class="caption">Web</div>
</a>
<a id="music" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/music.png');"></div>
    <div class="caption">Music</div>
</a>
<a id="rss" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/rss.png');"></div>
    <div class="caption">News</div>
</a>
<a id="sport" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/sport.png');"></div>
    <div class="caption">Sport</div>
</a>
<a id="play" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/play.png');"></div>
    <div class="caption">Multimedia</div>
</a>
<input id="submit-btn" type="button" value="Ok" />
