<br />
<label for="user-url">Paste your URL:</label><br />
<span id="example-url">(e.g. http://www.webtile.org)</span>
<input type="text" id="user-url" style="width: 100%; height: 28px;"/>
<br />
<br />
<p>Select category:</p>
<a id="web" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/web.png');" ></div>
    <div class="caption">Web</div>
</a>
<a id="radio" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/radio.png');"></div>
    <div class="caption">Radio</div>
</a>
<a id="rss" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/rss.png');"></div>
    <div class="caption">News</div>
</a>
<a id="play" href="#" class="item">
    <div class="ico" style="background-image: url('../img/icon/play.png');"></div>
    <div class="caption">Multimedia</div>
</a>
<input id="submit-btn" type="button" value="Ok" />
