<div id="items">
    <p class="caption">Pin link to start ...</p>
    <div id="sugg">
        <div id="qr-code-min"></div>
        <div id="msg">Visit this page with IE on your Windows Phone device. <span id="link">www.webtile.org</span></div>
    </div>

   
    <label for="user-url">Paste your URL:</label><br />
    <span id="example-url">(e.g. http://www.webtile.org)</span>
    <input type="url" id="user-url" style="width: 100%; height: 28px;"/>
    <br />
    <br />
    <p class="caption">Select category:</p>
    <a id="blog" class="item">
        <div class="ico" style="background-image: url('img/icon/blog.png');" ></div>
        <div class="caption">Blog</div>
    </a>
    <a id="cart"  class="item">
        <div class="ico" style="background-image: url('img/icon/cart.png');" ></div>
        <div class="caption">eShop</div>
    </a>
    <a id="img" class="item">
        <div class="ico" style="background-image: url('img/icon/img.png');" ></div>
        <div class="caption">Picture</div>
    </a>
    <a id="info" class="item">
        <div class="ico" style="background-image: url('img/icon/info.png');" ></div>
        <div class="caption">Info</div>
    </a>
    <a id="web" class="item">
        <div class="ico" style="background-image: url('img/icon/web.png');" ></div>
        <div class="caption">Web</div>
    </a>
    <a id="music" class="item">
        <div class="ico" style="background-image: url('img/icon/music.png');"></div>
        <div class="caption">Music</div>
    </a>
    <a id="rss" class="item">
        <div class="ico" style="background-image: url('img/icon/rss.png');"></div>
        <div class="caption">News</div>
    </a>
    <a id="sport" class="item">
        <div class="ico" style="background-image: url('img/icon/sport.png');"></div>
        <div class="caption">Sport</div>
    </a>
    <a id="play" class="item">
        <div class="ico" style="background-image: url('img/icon/play.png');"></div>
        <div class="caption">Multimedia</div>
    </a>
    <input id="submit-btn" type="button" value="- OK -" />
</div>