a.menu{
    font-family: MS Sans Serif, Geneva, sans-serif;
    font-size: 28pt;
    color: #999999;
    text-decoration: none;
    font-weight: lighter;
}

a.menu:hover{
    color: #b8e4fa;
    text-decoration: none;
}

.active{
     color: #0099ff !important;
}


#top{
    display: block;
    float: left;
}

#custom{
    display: block;
    margin-left: 90px;
    width: 130px;
}

.item{
    width: 250px;
    height: 34px;
    margin-top: 7px;
    display: block;
}

.ico{
    width: 32px;
    height: 32px;
    border: 1px solid #f4f4f4;
    float: left;
   
}

.item .caption{
    width: 214px;
    height: 32px;
    margin-left: 50px;
    line-height: 32px;
    vertical-align: middle;
    font-weight: normal;
}

#items{
    margin-top: 30px;
}

a.item{
    color: black;
    text-decoration: none;
}

a.item:hover{
    text-decoration: none;
    color: black;
    background-color: #7dd0fa;
}