html{
    height: 100%;
}

h1{
    font-size: 13pt;
    font-weight: normal;
}

body{
    background-color: white;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;   
}

#logo{
    width: 410px;
    height: 75px;
    float: left;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
}

#web-link{
    display: block;
    margin-left: 688px;
}

#header{
    margin-top: 10px;
    height: 80px;
    border-bottom: 1px solid #cccccc;
}

.selected{
    background-color: #7dd0fa;
}

#example-url{
    font-size: 8pt;
    color: #666666;
}

.ico{
    width: 32px;
    height: 32px;
    border: 1px solid #f4f4f4;
    float: left;
    background-color: Highlight;
   
}

#body{
    /*    Sticky footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#bottom{
    background-color: #666666;
    height: 100px;
    padding-top: 10px;
    clear: both;
}

#footer{
    border-left: 1px solid white;
    width: 150px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin-left: 590px;
}

label{
    font-weight: bold;
}

#qr-code{
    width: 201px;
    height: 201px;
    background-image: url('/img/qr_hawks.png');
    float: left;
}

#qr-code-min{
    width: 100px;
    height: 100px;
    background-image: url('/img/qr_hawks_min.png');
    float: left;
}

#msg{
    height: 92px;
    border: 1px solid #0099ff;
    background-color: #3399FF;
    width: 420px;
    margin-left: 110px;
    padding: 0px 5px 5px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: white;
    line-height: 40px;
}

#link{
    text-decoration: underline;
}

#sugg{
    margin-bottom: 50px;
}

#submit-btn{
    width: 250px;
    margin-left: 285px;
}

#description{
    width: 520px;
    height: 190px;
    background-color: #f3f3f3;
    margin-left: 260px;
    padding: 10px;
    color: black;
}

#header-wrapper{
    margin-top: 50px;
    margin-bottom: 40px;
}

#left-content{
    width: 201px;
    height: 100%;
    float: left;
    color: #8e9796;
}

#right-content{
    width: 540px;
    height: 100%;
    margin-left: 260px;
    /*    border: 1px solid black;*/
}

.fb-like{
    margin-top: 5px;
}

.g-plusone{
    float: left;
}

.twitter-share-button{
    display: block;
    margin-top: 5px;
}

.caption{
    font-weight: bold;
}

.fb-comments-wrapper{
    margin-top: 20px;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
