html{
    height: 100%;
}

body{
    background-color: white;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    
}

#logo{
    width: 410px;
    height: 75px;
    float: left;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}

#web-link{
    display: block;
    margin-left: 688px;
}

#header{
    margin-top: 10px;
    height: 80px;
    border-bottom: 1px solid #cccccc;
}

#body{
    /*    Sticky footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

#bottom{
    background-color: #cccccc;
    height: 100px;
    clear: both;
}

#qr-code{
    width: 201px;
    height: 201px;
    background-image: url('../img/qr_hawks.png');
    float: left;
}

#description{
    width: 540px;
    height: 201px;
    background-color: #f3f3f3;
    margin-left: 260px;
}

#header-wrapper{
    margin-top: 50px;
    margin-bottom: 40px;
}

#left-content{
    width: 201px;
    height: 100%;
    float: left;
    color: #8e9796;
}

#right-content{
    width: 540px;
    height: 100%;
    margin-left: 260px;
    /*    border: 1px solid black;*/
}

.fb-like{
    margin-top: 5px;
}

.g-plusone{
    float: left;
}

.twitter-share-button{
    display: block;
    margin-top: 5px;
}

.caption{
    font-weight: bold;
}

.fb-comments-wrapper{
    margin-top: 20px;
}
